@media screen and (max-width: 600px){
	[class*="col-"]{
		width: 100%
	}
	.menu-head, .menu, .menu-start, .menu-parraf, .menu-parraf1, .menu-first, .menu-icon{
		max-width: 100%;
	}
	.imga-about, .img-about, .ima-about{
		margin-left:50px;
	}
	.title-about, .parraf-about{
		width: 90%;
		margin-left: 20px;
		margin-right: 20px;
	}
	
	.menu-icon{
		display: inline-block;
		padding-left: 250px;
	}
	.menu-parraf{
		display: none;
	}
	.menu-parraf1{
		display: none;
	}


}

